/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f4f4f9;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  /* Estilos del Header */
  header {
    background-color: #0066cc;
    padding: 20px 0;
    color: white;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Sección Home */
  #home {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  #home h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  #home p {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* Sección de Ejercicios */
  #exercises {
    background-color: #e6f7ff;
    padding: 50px 0;
  }
  
  #exercises h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .exercise-card {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .exercise-card h3 {
    color: #0066cc;
  }
  
  .exercise-card p {
    color: #555;
  }
  
  .exercise-card a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
  }
  
  .exercise-card a:hover {
    text-decoration: underline;
  }
  
  /* Sección About */
  #about {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  #about p {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* Footer */
  footer {
    background-color: #0066cc;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 1rem;
  }
  